/**
 * Plugin Name: Stats
 * Plugin URI: http://jonbrennecke.github.io/
 * Version: v1.00
 * Author: <a href="http://jonbrennecke.github.io/">Jon Brennecke</a>
 * Description: Infographics
 *
 * @package WordPress
 * @subpackage Social
 * @since Social 1.0
 *
 */
.folded #wpcontent {
  margin-left: 36px; }
  @media screen and (max-width: 782px) {
    .folded #wpcontent {
      margin-left: 0;
      padding: 0; } }

.wrap {
  margin: 0; }
  .wrap h2.page-title {
    margin: 0;
    text-align: center;
    background: #fbfafa;
    color: #ee6049;
    padding: 0.5em;
    font-size: 10pt;
    position: relative;
    border-bottom: 4px solid #ee6049; }
  .wrap form.social {
    height: 30em; }
    .wrap form.social div.social-sections {
      height: 100%; }
      .wrap form.social div.social-sections h2.header {
        position: relative;
        float: left;
        margin: 0;
        padding: 0.2em 0.5em;
        box-sizing: border-box;
        font-size: 10pt;
        color: #5c564d;
        background: #d8d5d0; }
        .wrap form.social div.social-sections h2.header.accounts {
          width: 10%;
          text-align: center;
          background: #333333;
          border-bottom: 4px solid #1a1a1a;
          color: #ccc; }
        .wrap form.social div.social-sections h2.header.settings {
          width: 90%;
          padding-left: 2em;
          border-bottom: 4px solid #c1bcb4; }
      .wrap form.social div.social-sections div.section-titles, .wrap form.social div.social-sections div.section-fields {
        position: relative;
        float: left;
        height: 90%; }
      .wrap form.social div.social-sections div.section-titles {
        width: 10%;
        background: #333333;
        box-sizing: border-box; }
        .wrap form.social div.social-sections div.section-titles h3 {
          margin: 0; }
          .wrap form.social div.social-sections div.section-titles h3 span {
            display: block;
            font-weight: lighter;
            padding: 2em 0.5em;
            background: #333333;
            font-size: 10pt;
            color: #8c8c8c;
            border-bottom: 1px solid #404040;
            transition: background 0.1s; }
            .wrap form.social div.social-sections div.section-titles h3 span:hover {
              background: #262626;
              cursor: pointer; }
      .wrap form.social div.social-sections div.section-fields {
        width: 90%;
        background: #d8d5d0;
        box-sizing: border-box;
        padding: 2em; }
        .wrap form.social div.social-sections div.section-fields tr {
          position: relative;
          left: 100%;
          display: block;
          margin: 0.5em;
          border: 1px solid #867e6f;
          color: #867e6f;
          width: 20em;
          padding: 0.5em;
          border-radius: 5px; }
          .wrap form.social div.social-sections div.section-fields tr th {
            padding: 0 0.5em;
            vertical-align: middle; }
          .wrap form.social div.social-sections div.section-fields tr td input {
            position: relative;
            width: 10em;
            border: none;
            background: none;
            box-shadow: none;
            outline: none; }

/* ======================== */
.th-focus {
  background: #aaa398;
  border-radius: 5px;
  color: #d8d5d0; }
