// admin back-end colors
$gray: #d8d5d0;
$dark: #333;
$green: #63c56a;

// social media account base colors
$facebook: #4a66a0;
$twitter: #55acee;
$google-plus: #dd4b39;
$instagram: #46749a;

// map account names to their colors
$accounts: (facebook: $facebook, twitter: $twitter, google-plus: $google-plus, instagram : $instagram );