/**
 * Various SASS functions
 *
 *
 * @author jonbrennecke / github.com/jonbrennecke
 * @see github.com/jonbrennecke/sass
 *
 */


/**
 * box-sizing with browser prefixes
 *
 */
@mixin boxSizing( $sizing ) {
	-webkit-box-sizing: $sizing;
	-moz-box-sizing: $sizing;
	box-sizing: $sizing;
}

/**
 * horizontally center a relatively positioned element
 *
 */
@mixin center-relative-hz( $width ) {
	position: relative;
	width: $width;
	margin: 0 auto;
}

/**
 * horizontally center an absolutely positioned element
 *
 */
@mixin center-absolute-hz( $width ) {
	position: absolute;
	width: $width;
	left: 50%;
	margin-left: -($width / 2);
}


/**
 * vertically center a relatively positioned element
 *
 */
@mixin center-relative-vert( $height ) {
	// TODO
}

/**
 * vertically center an absolutely positioned element
 *
 */
@mixin center-absolute-vert( $height ) {
	position: absolute;
	height: $height;
	top: 50%;
	margin-top: -($height / 2);
}

/**
 * assign @content to headers $a through $b
 *
 * @example - when used like "@include h(1,3) { font-family: "Open Sans", sans-serif; }"
 * the mixin will assign the font to all h1, h2, and h3 elements.
 *
 */
@mixin h($a,$b) {
	@for $index from $a through $b {
		h#{$index}{
			@content;
		}
	}
}