/**
 * Plugin Name: Stats
 * Plugin URI: http://jonbrennecke.github.io/
 * Version: v1.00
 * Author: <a href="http://jonbrennecke.github.io/">Jon Brennecke</a>
 * Description: Infographics
 *
 * @package WordPress
 * @subpackage Social
 * @since Social 1.0
 *
 */

@import "./FontAwesome/font-awesome";
@import "functions";
@import "admin_mixins";
@import "fonts";
@import "admin-vars";
@import "confirm-frame";


// adjust the margin so .wrap is adjacent to the left admin bar
.folded #wpcontent {
	margin-left: 36px;

	@media screen and (max-width: 782px) {
		margin-left: 0;
		padding: 0;
	}
}

.wrap {
	margin: 0;
	padding: 1em;
	height: 40em;

	form.social {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 2;
		border: 1px solid lighten($gray,5%);
		border-radius: 10px;
		background: lighten($gray,10%);
		box-shadow: 0px 0px 15px rgba(darken($gray,20%),1), 
					0px 0px 0px 1px rgba(darken($gray,20%),1);

		div.social-sections {
			height: 100%;

			div.section {
				position: relative;
				float: left;
				height: 100%;
				box-sizing: border-box;
			}

			div.section.titles {
				position: relative;
				border-bottom-left-radius: 10px;
				border-top-left-radius: 10px;
				width: 6%;
				background: lighten($dark,5%);
				overflow: hidden;
				z-index: 1;

				h3 {
					margin: 0;
					text-align: center;
				
					span {
						cursor: pointer;
						position: relative;
						display: block;
						font-weight: lighter;
						padding: 1em;
						font-size: 18pt;
						color: lighten($dark,35%);
						@include boxSizing(border-box);
						border-bottom: 1px solid darken($dark, 10%);
						border-top: 1px solid lighten($dark, 10%);

						&:hover { color: lighten($dark,70%); }

						@mixin account-hover {
							@each $account, $color in $accounts {
								&.fa-#{$account}:hover {
									background: $color;
									border-bottom: 1px solid darken($color, 30%);
									border-top: 1px solid lighten($color, 10%);
								}
							}
						}

						@include account-hover;
					}
				}
			}

			div.section.fields {
				position: relative;
				width: 94%;
				padding: 0 5px;
				z-index: 2;
				box-shadow: -100px 0px 100px -100px #000;

				ul.bg {
					list-style-type: none;
					margin: 0;
					height: 100%;

					li.bg {
						width: 100%;
						margin: 0;
						@include boxSizing(border-box);

						&.top {
							background: $gray;
							height: 10%;
							border-bottom-left-radius: 10px;
							border-bottom-right-radius: 10px;
							border: 1px solid darken($gray,10%);
							border-top-color: transparent;
							box-shadow: 0px -3px 3px -3px darken($gray,10%) inset;
						}
						&.mid {
							height: 20%;

							div[class*="profile_"] {
								position: relative;
								float: left;
								margin: 0;
								height: 100%;
								@include boxSizing(border-box);

								&.profile_pic {
									width: 15%;

									div {
										@include center-absolute-hz(120px);
										height: 120px;
										background: lighten($gray,10%);
										border: 1px solid lighten($gray,10%);
										border-radius: 5px;
										bottom: 10px;
										box-shadow: 0px 0px 8px darken($gray,15%),
													0px 0px 0px 1px darken($gray,10%);
										overflow: hidden;

										img {
											width: 100%;
											height: 100%;
										}
									}
								}
								&.profile_info {
									width: 65%;

									h1 {
										@include leckerli($dark, 24pt);
										margin: 0.9em 0 0 0;
									}
									h2 {
										font-size: 10pt;
										line-height: 1.2em;
										margin: 0.4em 0 0 0;
										font-style: italic;
										color: darken($gray,40%);
									}
								}
								&.profile_stats { width: 20%; }
							}
						}
						&.bottom {
							background: $gray;
							height: 70%;
							border-top-left-radius: 10px;
							border-top-right-radius: 10px;
							border: 1px solid darken($gray,10%);
							border-bottom-color: transparent;
							box-shadow: 0px 3px 3px -3px darken($gray,10%) inset;
							padding: 1em;

							div#api-tool-tip {
								padding: 1em;
								font-size: 12pt;
								color: darken($gray,45%);
								font-style: italic;
								text-align: center;
								@include center-relative-hz(80%);

								@include nav-dots;

								h1 {
									display: block;
									@include leckerli( darken($gray,50%), 26pt );
								}

								div.tool-tip_container {
									height: 5em;
									width: 90%;

									div.tool-tip_container_abs {
										position: absolute;
										height: 100%;
										width: 100%;
										overflow: hidden;
									}

									div.tool-tip {
										position: absolute;
										width: 100%;
										left: 100%;
										font-size: 13pt;

										&.c { left: 0%; }

										&.l { left: -100%; opacity: 0;  }

										&.r { left: 100%; opacity: 0; }

										em {
											font-size: 16pt;
											font-weight: bold;
										}

										p.save {
											@include center-absolute-hz(150px);
											height: 40px;
											top: 100%;

											input {
												border-radius: 5px;
												height: 100%;
												width: 100%;
												margin: 0;
												background: $green;
												color: #fff;
												border: none;
												font-weight: bolder;
												box-shadow: 0px 3px 0px darken($green,20%);
												transition: box-shadow 0.3s;
												outline: 0;

												&:hover { box-shadow: 0px 1px 0px darken($green,20%); }
											}
										}

										table {
											@include center-relative-hz(45em);

											tr {
												position: relative;
												left: 1000px;
												margin: 0.5em;
												background:  lighten($gray,10%);
												border: 1px solid darken($gray,10%);
												color: darken($gray,35%);
												width: 20em;
												float: left;
												padding: 0.25em;
												border-radius: 5px;


												&.r{ left: 1000px; }

												&.c { left: 0; }

												th {
													text-align: center;
													vertical-align: middle;

													&.th-focus {
														background: darken( $gray, 20%);
														border-radius: 5px;
														color: $gray;
													}
												}	

												td {
													input {
														position: relative;
														width: 10em;
														border: none;
														background:  none;
														box-shadow: none;
														outline: none;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}