// div.hullabaloo {
// 	position: relative;
// 	width: 90%;
// 	margin: 0 auto 1em auto;
// 	background: $facebook;
// 	background: -webkit-radial-gradient(center center, circle, $facebook, darken($facebook,10%));
// 	border: 1px solid darken($facebook, 15%);
// 	border-top-color: lighten($facebook, 5%);
// 	border-bottom-color: darken($facebook, 15%);
// 	border-left-color: lighten($facebook, 5%);
// 	font-family: "Open Sans", sans-serif;
// 	color: darken($facebook,15%);
// 	text-shadow: 0px 0px 5px lighten($facebook,15%);
// 	box-sizing: border-box;
// 	padding: 2em;

// 	h1, h2, h3 {
// 		text-align: center;
// 		font-weight: lighter;
// 		margin: 0;
// 	}

// 	h2 { font-size: 16pt; }

// 	h3 { font-size: 12pt; }
// }


/**
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * 
 * Bold text-only style for Twitter widget
 *
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
div.hullabaloo {
	position: relative;
	width: 100%;
	background: $twitter;
	background: -webkit-radial-gradient(0% 0%, circle, lighten($twitter,10%), $twitter);
	border: 1px solid lighten($twitter,20%);
	@include boxSizing(border-box);
	height: 200px;

	div.section-name-container {
		position: relative;
		width: 17%;
		height: 100%;
		float: left;
		@include boxSizing(border-box);

		h1.section-name {
			@include center-absolute-vert(75px);

			span.section-title { display: none; }

			// font awesome icon
			span[class*="fa-"] {
				margin: 1em;
				display: block;
				line-height: 1;
				text-align: right;
				width: 100%;
				left: 15%;
				color: darken($twitter,10%);
				font-size: 75px;
				@include center-absolute-vert(75px);

				&:before {
					z-index: 2;
					background: -webkit-radial-gradient(60% 60%, circle, darken($twitter,5%), darken($twitter,25%));
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					position: absolute;
				}

				&:after {
					position: absolute;
					font-family: "FontAwesome", sans-serif;
					-webkit-font-smoothing: subpixel-antialiased;
					content: "\f099";
					z-index: 1;
					left: 0;
					text-shadow: 0px 0px 5px lighten($twitter,20%),
								0px 0px 5px lighten($twitter,20%), 
								-10px -10px 15px rgba(lighten($twitter,20%),0.5),
								0px 0px 25px rgba(lighten($twitter,20%),0.5);; 
				}
			}
		}
	}

	div.profile-pic-wrap {
		display: none;
	}

	.container {
		position: relative;
		width: 83%;
		height: 50%;
		float: left;
		@include boxSizing(border-box); 
	}

	div.tweet-text-container {
		@extend .container;

		h2.tweet-text {
			@include font(default);
			color: lighten($twitter,30%);
			font-size: 20pt;
			font-weight: lighter;
			margin: 0;
			position: absolute;
			padding: 1em 5em 0 0;

			a {
				text-decoration: none;
				font-weight: bolder;
				color: inherit;

				&:hover { text-decoration: underline; }
			}


			span[class*="fa-"] {
				margin: 0 1em;
				color: lighten($twitter,20%);
			}

			span.attrib {
				font-size: 12pt;
			}
		}
	}

	div.info-list-container {
		@extend .container;

		ul {
			list-style-type: none;
			padding: 0;
			margin: 2em 0 0 5em;
			@include font(default);
			color: lighten($twitter,25%);
			font-size: 12pt;

			li {
				display: inline-block;
				margin-right: 1em;

				// font awesome icon
				span[class*="fa-"] {
					color: darken($twitter,10%);
					margin-right: 0.5em;
					font-size: 14pt;
				}
			}
		}
	}


}

